body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

body {
    padding: 0 !important;
    margin: 0 !important;
}

.container {
    padding: 0 !important;
}

.navbar-header {
    padding: 0 !important;
    margin: 0 !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.create-post {
    text-align: center;
    margin-bottom: 20px;
}

    .create-post a {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
    }

.post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.post-tile {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}

    .post-tile h3 {
        font-size: 1.2em;
        margin: 0;
        color: #333;
    }

    .post-tile p {
        color: #555;
    }

.reactions-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.selected-reaction {
    font-size: 1.5em;
    cursor: pointer;
    position: relative;
}

    .selected-reaction:hover .reaction-users {
        display: block;
    }

.reaction-users {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    top: 30px;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .reaction-users p {
        margin: 0;
        font-size: 0.9em;
        color: #333;
    }

.emoji-button {
    display: inline-block;
    margin-left: 20px;
}

.reaction-btn {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: transform 2s ease, background-color 3s ease;
}

.emoji-dropdown {
    display: none;
    position: relative;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    transition: opacity 3s ease, visibility 3s ease; 
}

    .emoji-dropdown button {
        background: none;
        border: none;
        font-size: 1.5em;
        padding: 10px;
        cursor: pointer;
    }

.emoji-button:hover .emoji-dropdown {
    display: block;
}

.reaction-container {
    text-align: center;
    margin-top: 10px;
}

.header-image {
    width: 10%;  /* Ensures the width takes the full available space or its original width */
    height: 10%; /* Maintains aspect ratio but reduces height proportionally */
    max-height: 50px; /* Set a maximum height to reduce the overall height */
    object-fit: cover; /* Ensures the image fills the space without distorting */
}